<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./form.css">
    <link rel="shortcut icon" href="#">
</head>
<body>

  <form action="index.html" method="post" id="registration_form">
  
    <h1>Registration</h1>
    
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      
      <label for="mail">Email:</label>
      <input type="email" id="mail" name="email">
      
      <label for="number">Mobile Number:</label>
      <input type="tel" id="password" name="number">
      
    </fieldset>
    
    </fieldset>
    <button type="submit">Cheers</button>
  </form>
  
</body>

<script type="text/javascript" src="./form.js"></script>
</html>